<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="icon" href="/img/cloud.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <h1>{{title}} WORKS</h1>
        <h2>{{helpText}}</h2>
        <p>If your need help please contact this guy {{name}} MOB: +84-965059648</p>
        <img src="/img/Quyet - 600x600.jpg" class="circle" alt="Quyet">
    </div>
    {{>footer}}
</body>

</html>